*			{ 	margin: 0;	padding: 0;	}
body 		{	font: 16px Georgia, serif;	}

#page-wrap			{	margin: 2%auto;	color: white;	}
#page-wrap > .main	{	boder: 1px solid #999;	padding: 1%;	margin-bottom: 1px;	color: black;	}

section > div			{	padding: 20px;	}
header, nav, section	{	background: #eee;	text-align: center;	}
footer				{	background: #eee;	text-align: center;	}
nav span				{	margin: 0px 10px 0px 0px;	}

table {	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }

th 	{   font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
		border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td 	{   padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
		color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }