<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	
	<body>
		<h2>Créditos</h2>
		<table id="userprofile"> <tr> 
		<td valign="top"> 
			<img src="/images/foto.jpg"/>
		</td> 
		
		<td  valign="top"> 
			<span>Nombre:</span>Marcelo Javier Gorski </div> <div> 
			<span>Ubicación:</span>Buenos Aires, Argentina </div> <div> 
			<span>Facebook:</span><a href="https://www.facebook.com/marcelo.gorski" target="_blank">https://www.facebook.com/marcelo.gorski</a> </div>
			<div> <span class="label">Linkedin:</span>
			<a href="https://ar.linkedin.com/in/gorskimarcelo" target="_blank">https://ar.linkedin.com/in/gorskimarcelo</a> </div> 
		</td> </tr> 
		</table> 
			<h1>Biografía</h1> 
			<div>Analista programador ABAP en Atos, donde desarrolla para su Software Factory.</div> 
		
	</body>
</html>