<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	
  <body>
	<div> <table>
			<tr><td><a href="quizes/1">Capital de Italia</a></td></tr>
			<tr><td><a href="quizes/2">Capital de Portugal</a></td></tr>
	</table></div>
	
  </body>
</html>   

